<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721720515804-31r37iv2n00800pq46angegg8t83ktod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721720515804-31r37iv2n00800pq46angegg8t83ktod</string>
	<key>API_KEY</key>
	<string>AIzaSyDnt8vMDSmwkmCJlLyxh7Bztns_mXgHRwM</string>
	<key>GCM_SENDER_ID</key>
	<string>721720515804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.eatmission.eatmission</string>
	<key>PROJECT_ID</key>
	<string>eatmission-b9677</string>
	<key>STORAGE_BUCKET</key>
	<string>eatmission-b9677.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721720515804:ios:76b6dccc0eeb0dcf30e819</string>
</dict>
</plist>